


.container {
    position: fixed;
    right: 0;
    top:19%;
    height: 610px;
    padding: 20px;
    width: 300px;
    background-color:#f9f9f9;
    transition: all 0.3s;
    border-radius: 10px;
    // overflow-x: scroll;
    overflow-y: scroll;
    color: #000;

    &::-webkit-scrollbar {
       width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background: var(--dark-900);
    }

    .activeContainer {
        display: flex;
    }

    .carinho {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 15px;
        position: relative;

        .activeCarinho{
            display: flex;
        }

        

        .thash {
            background: transparent;
            border: none;
            position: absolute;
            top: 20px;
            right: 0;
        }

        div {
            display: flex;
            flex-direction: column;

            .containerQuant {
                width: 100%;
                max-width: 60px;

                display: flex;
                align-items: center;
                justify-content: space-between;

                border: 1px solid #000;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                color: #000;

                span {
                    border-left: 1px solid #000;
                    border-right: 1px solid #000;
                    padding: 0 5px;
                }

                .btnqtd {
                    font-size: 20px;
                    color: #fff;
                    background-color: transparent;  
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                }
            }
        }

        img {
            max-width: 80px;
            max-height: 70px;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    
}


.carinhoContainer {
    position: absolute;
    top: 7%;
    right: 2%;

    div {
        position: relative;

        .btnCarinho {
            background-color: transparent;
            border: none;
            color: var(--white);
            position: fixed;
            top: 145px;
            right: 20px;
            z-index: 98;
            
            span {
                position: absolute;
                right: 0;
                width: 15px;
                height: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                padding: 5px;
                background-color: red;
                
            }
        }
    }
}


.totalPrice {
    position: absolute;
    bottom: 10%;
}

.btnFecharPedido {
    position: absolute;
    bottom: 4%;
    background-color: var(--green-900);
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    height: 35px;
    color: var(--white);
}

// @media screen and (max-width: 430px) {
//     .container {
//         top:0;
//     }
// }