

.main {
    width: cal(80% -200px);
    margin-left: 210px;
    padding: 30px 20px;
    transition: all 0.3s;
}

.container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
}

.sempedidos {
    color: #000;
    font-size: 20px;
}

.novoPeiddo {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: end;

    a {
        background-color: var(--green-900);
        color: var(--white);
        font-size: 16px;
        border: none;
        border-radius: 5px;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            background: transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;

            color: var(--white);
        }
    }
}


@media screen and (max-width:850px) {
    .main {
        width: cal(80% -70px);
        margin-left: 70px;
        padding: 30px 20px;
    }
}
