

.cardProduct {
    max-width: 200px;
    border:1px solid #9f9f9fa2;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 8px;

    img {
        width: 100%;
        height:150px;
        border-radius: 4px;
        object-fit: cover;
    }

    p {
        display: none;
    }

    &:hover p {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1d1d2e8e;
        width: 100%;
        height: 150px;
    }


    .info {
        width: 100%;

        display: flex;
        flex-direction: column;
        padding: 5px;

        .btnAdd {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            color: var(--write);
            background-color: red;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            margin-top: 5px;
        }

        div {
            display: flex;
            justify-content: space-between;

            .qtd {
                display: flex;
                align-items: center;
                height: 20px;
                justify-content: space-between;
                width: 50px;

                button{
                    background: transparent;
                    border: none;
                    color: var(--write);
                    font-size: 18px;
                    transition: all 0.3s;
        
                    &:hover{
                        transform: scale(1.3);
                    }
                }
            }
        }

        span {
            font-size: 16px;
            line-height: 150%;
        }

        
    }

}
