

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    --write:#fff;
    --black:#000;
  
    --dark-900:#101026;
    --dark-700:#1D1D2E;
  
    --gray-100:#8A8A8A;
    --green-900:#3fffa3;
    --red-900:#FF3F4B;
  
}


body {
    // font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    color: var(--write);
}


button {
    cursor: pointer;
}


a {
    text-decoration: none;
    color: var(--write);
}