

.container {
    width: 100%;
    padding: 10px 20px;
    
    section{
        display: flex;
    }
}

.divisor {
    height: auto;
    width: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--gray-100);
    padding-bottom: 5px;
}

.content {
    width: 100%;
    min-height: 50px;
    height: auto;
    
    padding: 0px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffffffea;
    color: #252525;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;

    h3 {
        font-size: 20px;
        padding: 5px 0px;

        img {
            object-fit: contain;
        }
    }

    .footerMesa {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 5px 0;

        span{
            font-size: 20px;
            padding: 5px 0;
            margin-right: 5px;
        }

        .btnCancelar {
            background-color: var(--red-900);
        }

        button {
            background-color: var(--green-900);
            color:#ffffff;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            padding: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    }


    table {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 0;
        margin: 0;
        width: 100%;
        table-layout: fixed;
        border-collapse:collapse ;
    }
        
    table caption {
        font-size: 1.5em;
        margin: 0.5em 0 0.75em;
    }
    
    table tr {
        // background-color: var(--dark-900);
        border: 1px solid #ddd;
        padding: 0.35em;
    }
    
    table th, table td {
        padding: 0.62em;
        text-align: center;
    }
    
    table th {
        font-size: 0.85em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
    
    table td .action {
        border: 0;
        padding: 5px;
        border-radius: 4px;
        display: inline-block;
        margin-right: 3px;
    }
    
    table td .action svg{
        vertical-align: middle;
    }
    
    table td .badge{
        padding: 3px;
        border-radius: 3px;
        color: #fff;
    }

    @media screen and (max-width:600px){
        table{
            border: 0;
        }
        table caption {
            font-size: 1.3em;
        }
    
        table thead {
            border: none;
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
    
        table tr {
            border-bottom: 3px solid #DDD;
            display: block;
            margin-bottom: 0.60rem;
        }
    
        table td {
            border-bottom:1px solid #ddd;
            display: block;
            font-size: 0.8em;
            text-align: right;
        }
    
        table td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }
    }


}