

.container {
    width: 100%;
    display: flex;
    padding: 10px 20px;

    button {
        width: 100%;
        display: flex;
        align-items: center;
        background: transparent;
        border: none;
        color: var(--white);
        font-size: 20px;
    }
}

.divisor {
    height: 50px;
    width: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--green-900);
}

.content {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--dark-700);

}