

.header {
    width: 100%;
    display: block;
    min-height: 60px;
    background-color:  #fff159;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5px 10px 5px;

    h1 {
        color: #454444;
        font-weight: bold;
    }

}

.nav {
    display: flex;
    align-items: center;
    color: #454444;

    nav a{
        margin-left: 10px;
        color: #454444;
        font-size: 20px;

        &:hover {
            text-decoration: underline;
            color: #2f2f2f;
        }
    }


    button {
        background: transparent;
        border: none;
        margin-left: 10px;
        transition: transform 0.3s;

        &:hover{
            transform: scale(1.2);
        }
    }

}

.content {
    font-size: 16px;
}


@media screen and (max-width:750px){
    .container {
        flex-direction: column;
    }
}
